
<!--Bienvenido al .Penalt!!!
form method="post" action="/lanzar">
<input type="text" name="numero"/>
<input type="submit" id="lanzar" value="Lanzar"/>
</form>
Lanzamientos:<%= @lanzamientosCount %> (<%= @pista %>)
-->
<html>
  <head>
    <title>Punto Penal</title>
    <link rel="stylesheet" href="canchaStyle.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body id="tribuna">	
      <form id="form_id" action="/lanzar" method="post">
		<% for i in 1..@@campos do %>
			<% 	clase = ""
				if(!@gol && @lanzamiento == i)
					clase = "tapo"
				end
				if(@gol && @lanzamiento == i)
					clase = "balon"
				end
			 	if(@gol && @atajo == i)
					clase = "arquero"
			 	end
			%>
        	<input type="submit" name="some_name" class="<%= clase %>" value="<%= i %>">
		<% end %>		
      </form>
      <div id="name" class="grama">
		<div>
			Goles:<%= @goles %> <br/> 
			Atajadas: <%= @atajos %> <br/>
	        <a href="/">reiniciar </a>
	        <a href="/continuar">Continuar con el siguiente lanzamiento</a>
		</div>
		
		<div>
			<% if (@gol)%>
				<h1>GOOOOLLLL!!!!</h1>
			<% else %>
				<h1>QUE BOLUUUDOO !!!!</h1>
			<% end %>
		</div>
	  </div>

   </body>
</html>
